{{template "base" .}}

{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is the about page</h1>
            
            <p>This is detials about this page</p>
            <p>This came from the Template {{index .StringMap "TEST"}}</p>
            <p>
                {{if ne (index .StringMap "RemoteIP") ""}}
                    Your Remote IP is {{index .StringMap "RemoteIP"}}
                {{else }}
                    I don't know your IP address yet visit the <a href="/">Home Page</a> so I can set
                {{end}}
            </p>
        </div>
    </div>
</div>
{{end}}