{{template "base" .}}
{{define "headers"}}
<title>Contact</title>
{{end}}
{{define "content"}}
<div class="container">
    <div class="row text-center"> 
        <h1>This is the Contact Page</h1>
    </div>
</div>
{{end}}