{{template "base" .}}
{{define "headers"}}
<title>About Page</title>
{{end}}
{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>This is Kratos Room</h1>
        </div>
    </div>
    <div class="row"></div>
        <div class="col">
            <img src="/static/Images/kratos.png" class="img-fluid img-thumbnail mx-auto d-block room-image">
        </div>
    </div>
    <div class="row"></div>
        <div class="col text-center">
            <p>This is Kratos Room, where rested after killing all of Olypmus and also after his great fight with Odin</p>
        </div>
    </div>
</div>
{{end}}