{{template "base" .}}
{{define "headers"}}
<title>Kratos Room</title>

{{end}}
{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>This is Kratos Room</h1>
        </div>
    </div>
    <div class="row"></div>
    <div class="col">
        <img src="/static/Images/kratos.png" class="img-fluid img-thumbnail mx-auto d-block room-image">
    </div>
</div>
<div class="row"></div>
<div class="col text-center">
    <p>This is Kratos Room, where rested after killing all of Olypmus and also after his great fight with Odin</p>
</div>

</div>

<div class="row">
    <div class="col text-center">
        <button type="button" id="reservationButton" class="btn btn-primary">Reserve Room</button>
    </div>
</div>

{{end}}

{{define "js"}}
<script>
    document.getElementById("reservationButton").addEventListener("click", function () {
        let html = `
        <form id="searchAvailability" action="" method="post" novalidate class="needs-validation">
    <div class="row"> <!-- Bootstrap row for aligning inputs -->
        <div class="col-md-6"> <!-- First column -->
            <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival">
        </div>
        <div class="col-md-6"> <!-- Second column -->
            <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure">
        </div>
    </div>
</form>
        `;
        popUpInput({
            msg: html,
            title: "Select Arrival and Departure Dates",
            willOpen: () => {
                // Select start date and end date inputs
                const startDateInput = document.getElementById('start');
                const endDateInput = document.getElementById('end');
                // Initialize Flatpickr for both start and end date inputs
                flatpickr(startDateInput, {
                    dateFormat: "Y-m-d",
                    onChange: function (selectedDates, dateStr, instance) {
                        console.log(`Start Date selected: ${dateStr}`);
                        // Set minimum date for end date to be equal or later than the start date
                        endDateInput._flatpickr.set('minDate', dateStr);
                    }
                });

                flatpickr(endDateInput, {
                    dateFormat: "Y-m-d",
                    onChange: function (selectedDates, dateStr, instance) {
                        console.log(`End Date selected: ${dateStr}`);
                    }
                });
            },
            didOpen: () => {
                document.getElementById('start').removeAttribute("disabled");
                document.getElementById('end').removeAttribute("disabled");

            },
            preConfirm: () => {
                const startDate = document.getElementById("start").value;
                const endDate = document.getElementById("end").value;

                // Validation logic
                if (!startDate || !endDate) {
                    Swal.showValidationMessage("Please Enter Both Dates");
                    return false; // Prevent closing the modal
                };
                return [
                    `Start Date is ${document.getElementById("start").value}`,
                    `End Date is ${document.getElementById("end").value}`
                ];
            },
            callback: function (result) {
                let form = document.getElementById("searchAvailability");
                let formData = new FormData(form);
                formData.append("csrf_token", "{{.CSRFToken}}")

                if (result !== false) {
                    fetch("/search-availability-json", {
                        method: "post",
                        body: formData
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data)
                        })
                }
            }
        })
    })
</script>
{{end}}