{{template "base" .}}
{{define "headers"}}
<title>Make Reservation</title>
{{end}}
{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Make Reservation</h1>
            <!-- declaring the reservation value to use so when we render the page it would still have values -->
            {{$res := index .Data "reservation"}}
            <form method="post" action="/makeReservation" class="" novalidate>
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <div class="form-group mt-5 col-md-3">
                    <label for="first_name">First Name:</label>
                    {{with .Form.Errors.GetError "first_name"}}
                    <label class="text-danger">{{.}}</label>
                    {{end}}
                    <input required type="text" name="first_name" id="first_name" value="{{$res.FirstName}}" autocomplete="off"
                        class="form-control {{with .Form.Errors.GetError "first_name"}} is-invalid{{end}} ">
                </div>
                <div class="form-group mt-5 col-md-3">
                    <label for="last_name">Last Name:</label>
                    {{with .Form.Errors.GetError "last_name"}}
                    <label class="text-danger">{{.}}</label>
                    {{end}}
                    <input required type="text" name="last_name" id="last_name" value="{{$res.LastName}}" autocomplete="off" 
                    class="form-control {{with .Form.Errors.GetError "last_name"}} is-invalid{{end}}">
                </div>

                <div class="form-group mt-5 col-md-3">
                    <label for="email">Email Address:</label>
                    {{with .Form.Errors.GetError "email"}}
                    <label class="text-danger">{{.}}</label>
                    {{end}}
                    <input required type="email" name="email" id="email" autocomplete="off" value="{{$res.Email}}" 
                    class="form-control {{with .Form.Errors.GetError "email"}} is-invalid{{end}}">
                </div>

                <div class="form-group mt-5 col-md-3">
                    <label for="phone_number">Phone Number:</label>
                    {{with .Form.Errors.GetError "phone_number"}}
                    <label class="text-danger">{{.}}</label>
                    {{end}}
                    <input required type="text" name="phone_number" id="phone_number"  value="{{$res.Phone}}" autocomplete="off"
                        class="form-control {{with .Form.Errors.GetError "phone_number"}} is-invalid{{end}}">
                </div>

                <hr>
                <button type="submit" class="btn btn-primary" id="MakeReservationButton" class="form-control">Make
                    Reservation</button>
            </form>
        </div>
    </div>
</div>

{{end}}